::ng-deep .custom-mat-card-movie {
  padding: 0 !important;
  margin: 10px;
  background: lightblue;
}

::ng-deep .custom-mat-card-tv {
  padding: 0 !important;
  margin: 10px;
  background: lightgreen;
}
